

/* Add a black background color to the top navigation */
.topnav {
  background-color: #FF0000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: red;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff0000;
  color: white;
}

.topnav-right {
  float: right;
}

body {background-color: #ffffff; font-family:'Bookman', sabs-serif; font-weight: bold;}

img {width: 100%;}

#container {width:90%;margin:0 auto;display:flex;flex-wrap:wrap;
justify-content:space-between;}

.item {color:#ffffff;padding:10px 0;margin:3%;border-radius:2px;flex:1 250px;height:auto;text-align:center;background:#ff0000;}

.item{position:relative;}

.item:hover {
	webkit-filter: blur(1px);
    filter: blur(1px);
}

.overlay {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
   background-color: rgba(0,0,0,0)
   -webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -o-transition: opacity 1s ease-in-out;
   transition: opacity 1s ease-in-out;
}
.overlay:hover {
  opacity: .1;
  background-color: rgba(242,38,19,1);
}
a {
text-decoration: none;
}
